*::after, *::before {
    box-sizing: unset;
}

a {
    color: #343548;
    text-decoration: none !important;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

a:hover {
    color:#179672 !important;
    text-decoration: none !important;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.center {
    text-align: center;
    border-top: 3px solid rgb(63, 124, 149);
    color: #108DA8;
}

.oddziel {margin-top:25px;}
.odstep {margin-top:20px;}

.administrator {
    padding-top: 18px;
    padding-left: 5px;
}

/* Stanowisko */
p.procesor, p.ram, p.dysk {
    text-align:center;
    padding-top:13px;
    font-size:16px;
}

p.dane-procesora, p.dane-ram, p.dane-dysk {
    padding-top:0px;
    text-align:center;
    font-size:16px;
    text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

p.dane-dysk {text-shadow: 0px 1px 1px #CEC6C6;}

/* Kafelki */

.kafelek {
    height:99px;
}

/* O projekcie */
.informacje-o-projekcie {background-color:rgba(255,255,255,1);}

/* Kolory kafelek */
.brazowy {background-color: rgb(53, 53, 53);}
.brazowy p.srodkuj {color: rgb(70, 172, 237) !important; padding-top:26px;}
.brazowy p {color: rgb(70, 172, 237) !important;}
.brazowy a p {color: rgb(70, 172, 237) !important;}

.bialy {background-color:rgba(255,255,255,1);}
.bialy .notif {border-radius: 0px !important;}

.czerwony {background-color:#C33 !important;}
.czerwony p {color:white; text-align: center; padding-top: 35px; font-size:20px;}

.niebieski {background-color:rgb(10, 127, 230);}
.niebieski a p, .zolty a p, .zielony a p, .pomaranczowy a p, .fioletowy a p, .morski a p, .bialy a p, .brazowy a p {
    text-align:center;
    font-size:20px;
    padding-top:35px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.niebieski a:hover p, .zolty a:hover p, .zielony a:hover p, .pomaranczowy a:hover p, .fioletowy a:hover p, .morski a:hover p, .brazowy a:hover p {
    color:black !important;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.zolty {background-color:rgb(215, 215, 78);}
.zielony {background-color:rgb(56, 152, 56);}
.pomaranczowy {background-color: rgb(213, 119, 39);}
.fioletowy {background-color: rgb(112, 67, 155);}
.fioletowy a {color:white; !important}
.fioletowy p {color:white; !important}

.morski {background-color: rgb(48, 137, 133);}
.morski a {color: rgb(19, 60, 86) !important;}

/* Koniec kolorów kafelek */

/* Back to Top */
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(75, 75, 75, 0.8) url(../imgs/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

/* Główny CSS */

body {
    background-image:url('../imgs/bg.png') !important;
}

body header .szkola {
    margin-top:25px;
}

body header .szkola p, body header .dane-uzytkownika p {
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 0px #000;
    font-size: 20px;
}

#footer {margin-top:50px; margin-bottom:20px;}